.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh; /* Adjust the height as needed */
  margin-left: 5%;
    
}

.content-container {
  --background: url('../../assets/black-white.jpg') no-repeat center center / cover;
  --background-size: cover;
}

.logo {
    max-width: 200px;
}
  .form-card {
      background-color: #fff;
      max-width: 400px;
      width: 100%;
      
      
    }
  
    ion-card {
      align-content: center;
    }
    
    ion-card-content {
      padding: 20px;
    }
    
    ion-label {
      color: #000;
    }
    
    .button-container {
      margin-top: 20px;
    }
    
    ion-button {
      --color: #fff;
      --background: #000;
    }