<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let slide of slides">
        <img [src]="'../../assets/black-white.jpg'" alt="Slide">
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</ion-content>

////////////


<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let slide of slides">
        <div class="slide" [style.background-image]="'url(' + slide + ')'"></div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</ion-content> -->

<!-- To implement later
<div class="container">
  <ion-card class="form-card">
    <ion-card-content>
      <ion-list lines="full">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </ion-list>
      <div class="button-container">
        <ion-button expand="full" color="dark">Sign In</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</div>-->