/*swiper-container {
  width: 100%;
  height: 100%;

  --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, #cccccc);
  --swiper-pagination-color: var(--ion-color-primary, #3880ff);
}*/


swiper-container {
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh; /* Adjust the height as needed */
  margin-left: 5%;
    
}

.middlelogo {
  display: block;
  margin: 0 auto;
  width: 150px; /* Adjust the width as needed */
  height: 150px; /* Maintain aspect ratio */
  padding-top: 10px; /* Add top padding for vertical alignment */
}

.content-container {
  --background: url('../../assets/black-white.jpg') no-repeat center center / cover;
  --background-size: cover;
}

.logo {
    max-width: 200px;
}
  .form-card {
      background-color: #fff;
      max-width: 400px;
      width: 100%;
      
      
    }
  
    ion-card {
      align-content: right;
    }
    
    ion-card-content {
      padding: 20px;
    }
    
    ion-label {
      color: #000;
    }
    
    .button-container {
      margin-top: 20px;
    }
    
    ion-button {
      --color: #fff;
      --background: #00000000;
    }

    --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, #cccccc);
    --swiper-pagination-color: var(--ion-color-primary, #3880ff);
  }