* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.swiper {
	width: 100%;
	height: 100vh;
}

.img-1 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url('../../assets/black-white.jpg');
}

.img-2 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url('../../assets/black-white2.jpg');
}

.img-3 {
	background-image: url('../../assets/black-white3.jpg');
}

.swiper-slide {
	background-size: cover;
	background-position: center center;
}

.swiper-button-prev,
.swiper-button-next {
	color: white;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

.text-container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

.swiper-slide-active h1 {
	animation: fadeInUp 1s;
}

.swiper-pagination {
	display: none;
}

.swiper-pagination-bullet {
	background-color: white;
	width: 16px;
	height: 16px;
}

@media (max-width: 500px) {
	.swiper-pagination {
		display: block !important;
	}

	.swiper-button-prev,
	.swiper-button-next {
		display: none;
	}
}