.logo {
    max-width: 200px;
}

.background { 

}

#sign_in {
    align-self: center;
}

ion-toolbar {
    --background: black;
}



app-root {
    background-image: url('../assets/black-white.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}