.logo {
    max-width: 200px;
}


#sign_in {
    align-self: center;
}

ion-toolbar {
    --background: black;
}

ion-content {
    --background: url('../assets/background-bkacksi.JPG') no-repeat center center fixed;
    --background-size: cover;
  }